:root {
    --primary: #FA4516;
    --secondary: #f4a261;
    --light: #f1faee;
    --dark: #1d3557;
    --accent: #457b9d;
    --warning: #F8E3A2;
}


body {
    background: linear-gradient(to bottom right, #f2f7ff, #e8f0fe);
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 30px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.8rem;
    background-color: #ffffff;
    max-width: 600px;
    margin: auto;
}

.card h4 {
    font-weight: 700;
    color: #2c3e50;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.list-group-item {
    border: none;
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
}

.form-label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 0.92rem;
}

.list-group-item:last-child {
            border-bottom: none;
        }

.form-select,
.form-control {
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

.btn-gradient {
    background: linear-gradient(to right, #FA4516  , #f4a261 );
    border: none;
    color: white;
    font-weight: 600;
    padding: 0.6rem;
    border-radius: 50px;
    font-size: 0.95rem;
}



.icon-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
    color: var(--dark);
}

.icon-title i {
    font-size: 1.3rem;
    color: var(--dark);
}

.info-label {
    font-size: 0.92rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


#delivery-address-group,
        #table-number-group {
            display: none;
        }