{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/waiter/editReservation.css' %}">
{% endblock %}

{% block content %}
<div class="reservation-layout">
  <div class="reservation-form-section">
    <div class="reservation-card">
        <!-- Restaurant  -->
            <h3 class="mb-4" style="color: var(--dark);">
            Modify reservation N°{{ reservation.pk }}
            </h3>
            <div class="form-group">
            <label class="form-label">
                <i class="fas fa-store form-icon"></i> Restaurant
            </label>
            <input type="text" class="form-control" 
                    value="{{ restaurant.name }}" readonly>
            </div>

            <!-- Client-->
            <div class="form-group">
            <label class="form-label">
                <i class="fas fa-user form-icon"></i> Client
            </label>
            <input type="text" class="form-control"
                    value="{{ reservation.client.user.username }}" readonly>
            </div>
        <form method="post">
            {% csrf_token %}
            

            

            <!-- Table-->
            <div class="form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            </div>

            <!-- Date -->
            <div class="row">
            <div class="col-md-6 form-group">
                {{ form.datetime.label_tag }}
                {{ form.datetime }}
                {% if form.datetime.errors %}
                    <div class="text-danger">{{ form.datetime.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-6 form-group">
                {{ form.number_of_people.label_tag }}
                {{ form.number_of_people }}
            </div>
            </div>


            <!-- Submit butto -->
            <button type="submit" class="submit-reservation">
            <i class="fas fa-check-circle"></i> Save
            </button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
