{% include 'serveur/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/waiter/reservedTables.css' %}">
{% endblock %}

{%  block content%}
<div id='main' class=" bg-white">
  
  <div class="d-flex flex-wrap justify-content-between  ">
    
    <nav class="navbar navbar-expand px-3 py-1 bg-basic">
          <h3 class="mb-0">Reserved Tables</h3>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
              <div class="d-flex align-items-center">
                <img src="{% static 'images/waiter.png' %}" alt="" style="width: 40px;">
                <h6 >{{ request.session.display_username }}</h6>
    
            </div>
            </ul>
        </div>
    </nav>
  </div>
 
      <!-- Filters -->
      <div class="row g-2 align-items-center mb-3 mt-3">
        <form id="filterForm" method="get" class="row g-2 align-items-center mb-3 mt-3">
          <div class="col-12 col-md-1 d-grid">
            
            <a href="{% url 'reserved_tables' %}?clear=1" id="clearFilters" class="btn  mt-4 shadow-sm filter">All</a>
          </div>
          <div class="col-6 col-md-2">
            <label class="form-label small" for="filterDate">Date</label>
            <input type="date" id="filterDate" name="filterDate" class="form-control shadow-sm filter" value="{{ request.GET.filterDate }}">
          </div>
          <div class="col-6 col-md-2">
            <label class="form-label small" for="filterTime">Time Slot</label>
            <select id="filterTime" name="filterTime" class="form-select shadow-sm filter">
              <option value="" {% if not request.GET.filterTime %}selected{% endif %}>All</option>
              <option value="Lunch" {% if request.GET.filterTime == "Lunch" %}selected{% endif %}>Lunch</option>
              <option value="Dinner" {% if request.GET.filterTime == "Dinner" %}selected{% endif %}>Dinner</option>
            </select>
          </div>
          <div class="col-6 col-md-2">
            <label class="form-label small" for="filterStatus">Status</label>
            <select id="filterStatus" name="filterStatus" class="form-select shadow-sm filter">
                  <option value="" {% if not request.GET.filterStatus %}selected{% endif %}>All</option>
                  <option value="pending" {% if request.GET.filterStatus == 'pending' %}selected{% endif %}>Pending</option>
                  <option value="accepted" {% if request.GET.filterStatus  == 'accepted' %}selected{% endif %}>Accepted</option>
                  <option value="refused" {% if request.GET.filterStatus  == 'refused' %}selected{% endif %}>Refused</option>
              <option value="Canceled" {% if request.GET.filterStatus == "Canceled" %}selected{% endif %}>Cancelled</option>
            </select>
          </div>
          
          
            <div class="col-12 col-md-4 mt-4">
              <form method="get" action="{% url 'reserved_tables' %}">
                <div class="search-container">
                  <i id="search-icon" class="bi bi-search"></i>
                  <input type="text" name="search" class="form-control search-input shadow-sm" placeholder="Search..." aria-label="Search" value="{{ request.GET.search|default_if_none:''}}"onkeypress="if(event.key === 'Enter'){ this.form.submit(); }">
                </div>
              </form> 
            </div>
          
        
        
      </div>
  <!-- Cards -->
  <div  class="row g-4" >
    {% for reservation in reservations %}
      <div  class="col-sm-6 col-md-3">
        <div id="cardContainer" class="card shadow-sm">
          <div id="card" class="card-body position-relative">
            
            <form method="post" action="{% url 'update_reservation_table' reservation.pk %}">
              {% csrf_token %}
              <span id="tables-num" class="badge position-absolute top-0 start-0 m-2">
                <input type="number"
                name="table_number"
                value="{{ reservation.table }}"
                
                placeholder="N°"
                class="form-control form-control-sm tables-num-input"
                style="width:70px; display:inline-block; font-size:0.8em; padding:2px 6px;" {% if reservation.status != 'accepted' %}readonly{% endif %}>
                
              </span>
            </form>
            <span class="badge  position-absolute top-0 end-0 m-2 duration"><i class="bi bi-clock-fill"></i>{{ reservation.datetime|date:"H:i" }}</span>
            <p class="mt-4 mb-1"><i class="bi bi-clock"></i><strong>Reservation Time:</strong>{{ reservation.datetime }} </p>
            <p class="mb-1"><i class="bi bi-person"></i><strong>Customer:</strong> {{ reservation.client.user.username }}</p>
            <p class="mb-1"><i class="bi bi-telephone"></i><strong>Phone:</strong> {{ reservation.phone }} </p>
            <p class="mb-1"><i class="bi bi-people"></i><strong>Guests:</strong>{{ reservation.number_of_people }} </p>
            <div class="d-flex mb-3 position-relative">
              <label class="form-label mb-0" for="Status"><i class="mdi mdi-list-status mdi-24px" aria-hidden="true"></i><strong>Status:</strong></label>
              {% if reservation.status != 'canceled' %}
              <form method="post" action="{% url 'update_reservation_status' reservation.pk %}" class="d-flex align-items-center gap-2 " style="position: absolute; top: 0; left: 0; width: 100%;">
                {% csrf_token %}
                
                <select id="status_Form" name="status" class="form-select form-select-md mt-2" style="width:90px; font-size:0.8em ;margin-left: 90px; padding:2px 6px; " onchange="this.form.submit()">
                  <option value="pending" {% if reservation.status == 'pending' %}selected{% endif %}>Pending</option>
                  <option value="accepted" {% if reservation.status == 'accepted' %}selected{% endif %}>Accepted</option>
                  <option value="refused" {% if reservation.status == 'refused' %}selected{% endif %}>Refused</option>
                </select>
              </form>
              {% else %}
                <span 
                  class="badge bg-danger mt-3" style="position: absolute; left: 90px; font-size:0.8em; padding:2px 6px;">
                  Canceled
                </span>
              {% endif %}
            </div>
            
            <div class="d-flex justify-content-end">
              <a href="{% url 'update_reservation' reservation.pk %}"><button class="btn btn-sm btn-outline-danger items mr-2"><i class="bi bi-pencil-fill"></i></button></a>
              
              <form method="post" action="{% url 'cancel_reservation' reservation.pk %}"  style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-sm ms-2 btn-outline-danger items"  onclick="return confirm('Are you sure to cancel this reservation?');"><i class="bi bi-trash"></i></button>
              </form>
            </div>
          </div>
          
        </div>
      
      </div>

      {% empty %}
      <p>No reservations found.</p>
    {% endfor %}
  </div>
</div>
<script>
  document.querySelectorAll('.filter').forEach(el => {
    el.addEventListener('change', () => {
      document.getElementById('filterForm').submit();
    });
  });
</script>
{% endblock %}