{% include 'chef/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/chef/ordersListChef.css' %}">
{% endblock %}

{%  block content%}
<div id="main">
        <nav class="navbar navbar-expand px-3 py-1 bg-basic mb-3">
          <h1 class="">Orders list</h1>
          <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <div class="d-flex align-items-center">
                  <img src="{% static 'images/cheff.png' %}" alt="" style="width: 45px;">
                  <h6 >{{ request.session.display_username }}</h6>
      
              </div>
              
              </li>
            </ul>
          </div>
       </nav>
    
        
          <!-- filters + Search -->
          <div class="container-fluid my-3">
            <div class="filter-bar">
              <ul class="nav nav-pills justify-content-between flex-wrap">
                <li class="nav-item flex-fill text-center">
                  <a href="{% url 'ordersListChef' %}{% if request.GET.search %}?search={{ request.GET.search }}{% endif %}"
                     class="nav-link filter-link {% if not filter_type %}active{% endif %}">
                    All
                  </a>
                </li>
                <li class="nav-item flex-fill text-center">
                  <a href="{% url 'ordersListChef' %}?filter_type=served{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                     class="nav-link filter-link {% if filter_type == 'served' %}active{% endif %}">
                    Dine In
                  </a>
                </li>
                <li class="nav-item flex-fill text-center">
                  <a href="{% url 'ordersListChef' %}?filter_type=take-away{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                     class="nav-link filter-link {% if filter_type == 'take-away' %}active{% endif %}">
                    Takeaway
                  </a>
                </li>
                <li class="nav-item flex-fill text-center">
                  <a href="{% url 'ordersListChef' %}?filter_type=delivered{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                     class="nav-link filter-link {% if filter_type == 'delivered' %}active{% endif %}">
                    Delivery
                  </a>
                </li>
              </ul>
            </div>
          </div>
          
    
          <!-- Search Bar -->
          
            
          <form method="get" action="{% url 'ordersListChef' %}">
              <div class="search-container">
                <i id="search-icon" class="bi bi-search"></i>
                <input type="text" name="search" class="form-control search-input shadow-sm" placeholder="Search..." aria-label="Search" value="{{ request.GET.search|default_if_none:''}}" onkeypress="if(event.key === 'Enter'){ this.form.submit(); }">
              </div>
          </form> 
          
          
          <!-- Orders List -->
        
            {% for order in orders %}
              <div>
                <!-- Orde -->
                <div class="order-row d-flex justify-content-between align-items-left {% if order.status == 'pending' %} order-pending {% endif %} " >
                  <div class=" align-items-center mb-2">
                    <small class="text-muted m">Order #{{ order.pk }}</small>
                    {% if order.server == NULL %}
                        <h5 class="mb-0 me-2">{{ order.client.user.username }}</h5>
                    {% else %}
                        <h5 class="mb-0 me-2">Table {{ order.table_number}}</h5>
                    {% endif %}
                    <small class="text-muted mt-4">{{order.order_date|date:"H:i"}}</small>
                  </div>
                  <div class="mb-1 mt-2">
                    <small class="text-muted ">
                      {{ order.items_count }} item{{ order.items_count|pluralize }} &bull; 
                      <span class="fw-bold text-danger"> {{ order.total_price|default:0|floatformat:2 }} DA </span>
                    </small>
                  </div>

                  <div class="text-end">
                    <div class="d-flex">
                       {% if order.status == 'pending' %}
                          <form method="post" action="{% url 'update_order_status' order.pk %}" class="d-inline">
                            {% csrf_token %}
                            <select name="status" class="form-select d-inline bg-warning text-dark order-status" onchange="this.form.submit()">
                              <option value="pending" selected>Pending</option>
                              <option value="preparing">Preparing</option>
                            </select>
                          </form>
                       {% elif order.status == 'preparing' %}
                          <form method="post" action="{% url 'update_order_status' order.pk %}" class="d-inline">
                            {% csrf_token %}
                            <select name="status" class="form-select d-inline bg-warning text-dark order-status" onchange="this.form.submit()">
                              <option value="preparing" selected>Preparing</option>
                              <option value="done">Done</option>
                            </select>
                          </form>
                        {% else %}
                          <span class="order-status bg-warning text-dark">
                            {{ order.status }}
                          </span>
                       {% endif %}
                      <button class="btn btn-link p-0 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#items{{ order.pk }}" aria-expanded="false" aria-controls="items{{ order.pk }}">
                        <i id="chevron" class="bi bi-chevron-down"></i>
                      </button>
                    </div>
                    
                  </div>
                </div>
                <div class="collapse mt-2" id="items{{ order.pk }}">
                  <div class="table-responsive">
                    <table class="table items-table mb-3">
                    
                      <tbody>
                        {% for item in order.orderdish_set.all %}
                        <tr >
                          <td >{{ item.dish.name }} </td>
                          <td>{{ item.quantity }}</td>
                          <td  class="text-end "> {{ item.dish.price|floatformat:2 }} DA</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
              
              </div>
          
    
          
    
          
            {% empty %}
              <p>No orders found.</p>
            {% endfor %}
        
        
    
      </div>
 </div>
{% endblock %}