{% include 'chef/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/Chef/recipie.css' %}">
{% endblock %}

{%  block content%}

      <div id="main"  >
      
        <nav class="navbar navbar-expand px-4 py-1 bg-basic">
          <h2 class="mb-0">Recipies</h2>
          
          <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
              <div class="d-flex align-items-center">
                <img src="{% static 'images/cheff.png' %}" alt="" style="width: 45px;">
                <h6 >{{ request.session.display_username }}</h6>
    
            </div>
             </ul>
          </div>
       </nav>
         
       
        
        <div class="container-fluid my-3">
          <div class="filter-bar">
            <ul class="nav nav-pills justify-content-between flex-wrap">
              <li class="nav-item flex-fill text-center">
                <a href="{% url 'recipie' %}" 
                  class="nav-link filter-link py-1 px-2 {% if not selected_category %}active{% endif %}">
                  All
                </a>
              </li>
              {% for category in categories %}
              <li class="nav-item flex-fill text-center">
                <a href="{% url 'recipie' %}?category={{ category|urlencode }}" 
                  class="nav-link filter-link py-1 px-2 {% if selected_category == category %}active{% endif %}">
                  {{ category }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <form method="get" action="{% url 'recipie' %}" class="search-form mb-3" style="width: 100%;">
          <div class="search-container "style=" width: 100%;">
            <i id="search-icon" class="bi bi-search "></i>
            <input type="text" name="search" class="form-control search-input" placeholder="Search..." aria-label="Search" value="{{ search_query }} ">
            
          
          </div>
            {% if selected_category %}
              <input type="hidden" name="category" value="{{ selected_category }}">
            {% endif %}
          </div>
        </form>

        <!-- Recipes  -->
        <div class=" container mt-4">
          {% for dish in dishes %}
              <div class="row mb-2">
                <div class="col-12">
                  
                  <div class="recipe-card" data-bs-toggle="collapse" data-bs-target="#recipe{{ dish.pk }}" aria-expanded="false" aria-controls="recipe{{ dish.pk }}">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="flex-grow-1 text-center">
                        <h5 class="mb-0">{{ dish.name }}</h5>
                      </div>
                      
                      <i class="bi bi-chevron-down rotate" id="chevron-{{ dish.pk }}"></i>
                    </div>
                  </div>
                </div>
              </div>
            
            <div class="collapse" id="recipe{{ dish.pk }}">
              <div class="card card-body mb-3">
                <div class="row ">
                  <div class=" col-12 col-md-4">
                    <p class="ms-3"><strong>Ingredients:</strong></p>
                    
                    <ul class="mb-2">
                      {% for di in dish.dishingredient_set.all %}
                      <li> {{ di.ingredient.name }} — {{ di.quantity }} {{ di.ingredient.unit }}</li>
                      {% empty %}
                      <li>No ingredient found</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <p><strong>Recipe:</strong></p>
                    <p class="mb-0">{{ dish.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <p>no plate avaible</p>
            
          {% endfor %}
        </div>
      </div>
  
{% endblock %}